body{
    padding: 0;
    margin: 0;
    background-image: url(/IMG/background.gif);
    word-wrap: break-word;

}

.glowbox{
background-color: white;
    box-shadow: 0 0 10px 10px white;
    border: 1px dashed #ff0000;
    padding: 10px;
    margin-top: 5%;
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: 20% 58% 20%;
    grid-gap: 5px 5px;
    grid-template-areas: 
        'header header header'
        'sidebar main sidebar'
        'sidebar main2 sidebar'
}

.side1 {
grid-area: 'sidebar';
    grid-row: 2 / 4;
    padding: 2px;
    background-color: rgb(255, 253, 240);
}
.head {
grid-area: 'header';
    grid-column: 1 / 4;
    background-image: url(/IMG/banner.png); background-size: cover; height: 100px; box-shadow: 0 0 5px 5px white inset;
}
.main {
grid-area: 'main';
    background-image: url(/IMG/seal.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    padding: 5px;
}

.main2{
grid-area: 'main2';
    grid-column: 1 / span 3;
    padding: 5px;

}

.mainscontent{
width: auto;
}

.side2 {
grid-area: 'sidebar';
    grid-column: 3;
    grid-row: 2 / 4;
    padding: 2px;
    background-color: rgb(255, 253, 240);

} 

.sidecontent{
    width: auto;
}

#playPauseImage {
cursor: pointer; /*IDK if you wanted it to be obvious or not that it could be clicked but this is what does it lol*/
} 

.card{
background-image: linear-gradient(to right, rgb(248, 206, 206), rgb(255,0,0,0) 80%);
    text-decoration: underline;
    font-weight: bold;
    width: auto;
    color: rgb(241, 50, 50);
    margin-bottom: 5px;
    margin-top: 5px;
}

.card:first-child{
margin-top: 0;
}

.uppydate{
padding: 5px;
border: 1px dashed rgb(0, 60, 255);
width: auto;
height: 100px;
overflow-y: scroll;
}


.imgleft{
bottom: 0;
left: 0;
position: absolute;
}

@media screen and (max-width: 650px) {
    .title {
        font-size: 35px;
    }
    
    .glowbox {
        grid-template-columns: 1fr 2fr; /* Remove the third column */
        grid-template-areas: 
            'header header'
            'sidebar main'
            'sidebar main'
            'main2 main2';
    }
    
    .main {
        background-position: top right;
        background-size: 50%;
    }

    .side2 {
        display: none; /* Hide the "other" column */
    }
    
    .imgleft {
        display: none;
    }
}

